* {
    padding:0px;
    margin:0px;
    
}

.body-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.game-wrapper {
    padding: 50px;
    background-color: #66757F;

}

.game-outline {
    background-color:#292F33;
    padding: 10px;
    border-radius: 15px;
}

.field {
    width: 100px;
    height: 100px;
    margin: 7px; 
    background-color: #CCD6DD;
    border:none;
    box-shadow: 4px 4px rgb(69, 80, 87);
    color: white;
    font-family: Arial;
    font-size: 85px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(47, 49, 51);
    transition: 200ms linear;
}

.flex-wrapper {
    display:flex;
}

.which-player {
    font-size: 45px;
    font-family: Georgia;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 2px solid white;
    color:white;
    text-shadow: 1px 1px rgb(47, 49, 51);
}

.resetbutton {
    justify-content: center;
    padding-top: 30px; 
    
}

#resetbtn {
    width: 200px;
    height: 60px;
    border: 3px solid #E1E8ED;
    border-radius: 35px;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia;
    color: white;
    text-shadow: 1px 1px rgb(47, 49, 51);
    background-color: #66757F;
    transition: 100ms linear;
}

.field:hover, #resetbtn:hover {
    cursor: pointer;
}

#resetbtn:hover {
    color: #66757F;
    background-color: #E1E8ED;
    border-color: #66757F;  
}

.field:hover {
    background-color: rgb(178, 183, 190);
}
